/*
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

.molok-panel-workspace-indicator.previews:active {
  background-color: none !important;
  box-shadow: none !important;
}

.molok-panel-workspace-indicator.name-label {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.17) !important;
}
.molok-panel-workspace-indicator.name-label:hover,
.molok-panel-workspace-indicator.name-label:focus {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.28) !important;
}
.molok-panel-workspace-indicator.name-label:active {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.32) !important;
}
.molok-panel-workspace-indicator.name-label:active:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.36) !important;
}

.molok-panel-workspace-indicator .status-label {
  width: 8em;
  padding: 0 8px;
}
.molok-panel-workspace-indicator .status-label:ltr { padding-right: 4px; }
.molok-panel-workspace-indicator .status-label:rtl { padding-left: 4px; }

.molok-panel-workspace-indicator .system-status-icon {
  padding: 0 !important;
  margin: 0 !important;
}

.molok-panel-workspace-indicator .workspaces-view.hfade {
  -st-hfade-offset: 20px;
}

.molok-panel-workspace-indicator .workspaces-box {
  spacing: 3px;
}

.molok-panel-workspace-indicator .workspace-box {
  padding-top: 1px;
  padding-bottom: 1px;
}

.molok-panel-workspace-indicator StButton:first-child:ltr > .workspace-box,
.molok-panel-workspace-indicator StButton:last-child:rtl > .workspace-box {
  padding-left: 3px;
}
.molok-panel-workspace-indicator StButton:last-child:ltr > .workspace-box,
.molok-panel-workspace-indicator StButton:first-child:rtl > .workspace-box {
  padding-right: 3px;
}

.molok-panel-workspace-indicator .workspace {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #3f3f3f;
}

.molok-panel-workspace-indicator .workspace {
  width: 52px;
}

.molok-panel-workspace-indicator .workspace.active {
  border-color: #fff;
}

.molok-panel-workspace-indicator-window-preview {
  background-color: #bebebe;
  border: 1px solid #828282;
  border-radius: 1px;
}

.molok-panel-workspace-indicator-window-preview.active {
  background-color: #d4d4d4;
}

.molok-panel-workspace-indicator-menu {
  min-width: 17em;
}

.molok-panel-workspace-indicator-menu .editable-menu-item.popup-menu-item {
  padding: 3px 12px;
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button {
  padding: 6px;
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat {
  background-color: transparent;
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat:hover {
  background-color: st-transparentize(white, 90%);
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat:active {
  background-color: st-transparentize(white, 85%);
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat:checked {
  color: -st-accent-fg-color;
  background-color: -st-accent-color;
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat:checked:hover {
  background-color: st-lighten(-st-accent-color, 10%);
}

.molok-panel-workspace-indicator-menu .editable-menu-item .icon-button.flat:checked:active {
  background-color: st-lighten(-st-accent-color, 15%);
}

.molok-panel-workspace-indicator-menu .editable-menu-item StLabel {
  padding: 0 11px;
  width: 6.5em;
}

.molok-panel-workspace-indicator-menu .editable-menu-item StEntry {
  padding: 9px 9px;
  width: 6.5em;
}
